# Task 01: Make 2-2 programs of each datatype.

# 1. Integer (int)

In [2]:
num1 =10
num2 =25
print("sum of integers:",num1 +num2)

sum of integers: 35

In [3]:
age = 20
years = 5
print("Future age:", age + years)

Future age: 25

In [4]:
apples = 12
oranges = 8
total_fruits = apples + oranges
print("Total number of fruits:", total_fruits)

Total number of fruits: 20

# 2. Float

In [ ]:
temperature_celsius = 36.6
temperature_fahrenheit = (temperature_celsius * 9 / 5) + 32
print("Temperature in Fahrenheit:", temperature_fahrenheit)

# Program 2
celsius = 37.0
fahrenheit = (celsius * 9 / 5) + 32
print("Fahrenheit:", fahrenheit)

Area of circle: 63.585

# 3. String

In [7]:
first_name = "Hammad"
last_name = "Khan"
print("Full Name:", first_name + " " + last_name)

# Program 2
msg = "Python is fun!"
print("Message:", msg.upper())

Full Name: Hammad Khan
Message: PYTHON IS FUN!

In [8]:
sentence = "learning python is interesting"
words = sentence.title()
print("Formatted Sentence:", words)

Formatted Sentence: Learning Python Is Interesting

# 4. List

In [11]:
numbers = [1, 2, 3, 4, 5]
if all(isinstance(x, (int, float)) for x in numbers):
    print("Sum:", sum(numbers))
else:
    print("Error: The list contains non-numeric values.")

# Program 2
fruits = ["apple", "banana"]
fruits.append("mango")
print(fruits)

Sum: 15
['apple', 'banana', 'mango']

# 5. Tuple

In [12]:
# Program 1: Accessing tuple elements
person = ("hammad", 25, "Karachi")
print(person[0])

hammad

In [28]:
# Program 2: Tuple unpacking
a, b = (10, 20)
print("a:", a, "b:", b)

a: 10 b: 20

# 6. Dictionary

In [ ]:
# Program 1: Access value using key
student = {"name": "hammad", "age": 19}
print("Name:", student["name"])

Name: Muzzammil

In [30]:
# Program 2: Add new key-value pair.
car = {"brand": "Toyota", "model": "Corolla"}
car["year"] = 2020
print(car)

{'brand': 'Toyota', 'model': 'Corolla', 'year': 2020}

# 7. Boolean

In [31]:
# Program 1: Check if value is greater
a = 5
b = 3
print(a > b)  # Output: True

True

In [32]:
# Program 2: Using boolean in condition
is_logged_in = True
if is_logged_in:
    print("Welcome!")
else:
    print("Please login.")

Welcome!

# 8. Complex

In [33]:
# Program 1: Add two complex numbers
a = 3 + 4j
b = 1 + 2j
print("Sum:", a + b)

Sum: (4+6j)

In [34]:
# Program 2: Multiply complex numbers
x = 2 + 3j
y = 1 - 1j
print("Product:", x * y)

Product: (5+1j)

# 9. Range

In [35]:
# Program 1: Print numbers from 1 to 5 using range
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [36]:
# Program 2: Generate even numbers
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

# 10. Set

In [37]:
# Program 1: Create a set and add elements
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [38]:
# Program 2: Set operations (union)
a = {1, 2, 3}
b = {3, 4, 5}
print("Union:", a | b)

Union: {1, 2, 3, 4, 5}

# 11. Frozenset

In [39]:
# Program 1: Create a frozenset
f_set = frozenset([1, 2, 3, 4])
print(f_set)

frozenset({1, 2, 3, 4})

In [40]:
# Program 2: Froenset intersection
a = frozenset([1, 2, 3])
b = frozenset([2, 3, 4])
print("Intersection:", a & b)

Intersection: frozenset({2, 3})

# Task 02:Make up to 5 Shape programs using '*'.

In [41]:
# 01 Make a diamond shape using ' * ' by logic method
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [42]:
# 02 Make a square shape using ' * ' by logic method
rows = 5
for i in range(rows):
    print('*' * rows)

*****
*****
*****
*****
*****

In [43]:
# 03 Make a rectangle shape using ' * ' by logic method
rows = 5
columns = 10
for i in range(rows):
    print('*' * columns)

**********
**********
**********
**********
**********

In [44]:
# 04 Make a Triangle shape using ' * ' by logic method
rows = 5
for i in range(1, rows + 1):
    print(' ' * (rows - i), end='')
    print('* ' * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [45]:
# 05 Make a diamond shape using ' * ' by logic method
rows = 5
for i in range(1, rows + 1, 2):
    spaces = (rows - i) // 2
    print(' ' * spaces + '*' * i)
for i in range(rows - 2, 0, -2):
    spaces = (rows - i) // 2
    print(' ' * spaces + '*'*i)

  *
 ***
*****
 ***
  *

# Task 03:Make same shapes you have made in task 2, using * mutiple by number.

In [46]:
# 01 Make a diamond shape using 'numbers' by logic method
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [47]:
# 02 Make a square shape using 'numbers' by logic method
rows = 5
for i in range(rows):
    for j in range(1, rows + 1):
        print(j, end='')
    print()

12345
12345
12345
12345
12345

In [48]:
# 03 Make a rectangle shape using ' * ' by logic method
rows = 5
columns = 10
for i in range(rows):
    for j in range(1, columns + 1):
        print(j, end='')
    print()

12345678910
12345678910
12345678910
12345678910
12345678910

In [49]:
# 04 Make a Triangle shape using ' * ' by logic method
rows = 5
for i in range(1, rows + 1):
    print(' ' * (rows - i), end='')
    print((str(i) + ' ') * i)

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [50]:
# 05 Make a diamond shape using ' * ' by logic method
rows = 5
rows = 5
for i in range(1, rows + 1, 2):
    spaces = (rows - i) // 2
    print(' ' * spaces + (str(i) * i))
for i in range(rows - 2, 0, -2):
    spaces = (rows - i) // 2
    print(' ' * spaces + (str(i) * i))

  1
 333
55555
 333
  1