# Task 01: Print numbers from 1 to 10 using a for loop.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Task 02: Print all even numbers between 1 and 20 using a while loop.

In [4]:
num = 2

while num <= 20:
    print(num)
    num += 2

2
4
6
8
10
12
14
16
18
20

# Task 03: Calculate the sum of numbers from 1 to 100 using a loop.

In [5]:
total = 0

for i in range(1, 101):
    total += i

print("Sum of numbers from 1 to 100 is:", total)

Sum of numbers from 1 to 100 is: 5050

# Task 04: Print the multiplication table of 5 using a loop.

In [6]:
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Task 05: Find the factorial of a given number using a for loop.

In [16]:
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}.")

Enter a number:  4

The factorial of 4 is 24.

# Task 06: Iterate over a list of fruits and print each item.

In [18]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry
mango
orange

# Task 07: Create a list of numbers and print only the odd numbers using a loop.

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 2 != 0:
        print(num)

1
3
5
7
9